<div class="container-fluid">
  <div class="row top-row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 expanded full-size">
      <img class="zoom" src="../assets/img/couch.jpg" alt="man sitting on couch with laptop">
      <div class="text-container darkgrey floating" *ngFor="let project of projects | async">
        <h2>{{project.title}}</h2>
        <p>Holiday Mobile</p>
        <h6>Store foot traffic surged on Black Friday.</h6>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 expanded">
      <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 expanded half-size">
        <img class="zoom" src="../assets/img/laptop.jpg" alt="woman on phone and laptop">
        <div class="text-container googleBlue">
          <h5>Measurement: The Secret to Growth in a Mobile-First World</h5>
          <p>Mobile Measurement</p>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 expanded half-size">
        <img class="zoom" src="../assets/img/people.jpg" alt="woman on phone and laptop">
        <div class="text-container seagreen">
          <h5>4 Media-Planning Tips for Online Video Advertising Success</h5>
          <p>Advertising Video</p>
        </div>
      </div>
    </div>
  </div><!--end of row 1-->
</div>
<div class="container-fluid">
  <div *ngFor="let project of projects | async">
  <div class="row row-content">
    <img src={{project.photos[0]}}>
    <div class="content-container">
      <h2>{{project.title}}</h2>
      <p>Tags <span class="hidden-xs">| <a href="#">{{project.tags[0]}}</a> <a href="#">{{project.tags[1]}}</a> <a href="#">{{project.tags[2]}}</a></span></p>
    </div>
  </div>
</div>

  <div class="sidebar">
    <!--ADD SIDEBAR CONTENT HERE-->
  </div>

</div><!--end of container-fluid-->
<div class="container-fluid">
  <div class="row footer">
    <div class="footer-container">
      <h3>Get Our Newsletter: Put Google research and insight behind your thinking</h3>
      <button type="button" class="btn btn-primary">Subscribe</button>
    </div>
  </div><!--end of footer-->
</div><!--end of last container-fluid-->
