<nav class="navbar navbar-default">
   <div class="container-fluid">
     <div class="navbar-header">
       <a class="navbar-brand" routerLink="">GoJournal</a>
     </div>
     <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
       <li><a routerLink="">Home</a></li>
       <li><a href="#">Login</a></li>
       <li><a href="#">Sign Up</a></li>
       <li><a routerLink="new-project">Create Project</a></li>
       <li class="dropdown second">
         <a href="#" class="dropdown-toggle main-target" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Explore</a>
         <ul class="dropdown-menu target">
           <li><a href="#">Photography</a></li>
           <li><a href="#">Film</a></li>
           <li><a href="#">Social Justice</a></li>
           <li><a href="#">Feminism</a></li>
           <li><a href="#">Environmental</a></li>
           <li><a href="#">Animal Welfare</a></li>
         </ul>
       </li>
       <li class="search"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
     </ul>
     <!--PHONE NAV MENU-->
     <ul class="phone-nav hidden-md hidden-lg">
       <li class="search"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
       <li class="menu"><a href="#"><img src="assets/img/btn-compact-nav.svg"></a></li>
     </ul>
   </div><!--end of navbar container-fluid-->
 </nav>
<router-outlet></router-outlet>
<div class="container-fluid">
  <div class="row footer">
    <div class="footer-container">
      <h3>Get Our Newsletter: Put <strong>GoJournal</strong> updates in your inbox!</h3>
      <button type="button" class="btn btn-primary">Subscribe</button>
    </div>
  </div><!--end of footer-->
</div><!--end of last container-fluid-->
<div class="container-fluid">
  <div class="row last-footer">
    <div class="last-footer-container">
      <ul>
        <li><a href="#">Admin</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Popular Projects</a></li>
        <li><a href="#">Mission</a></li>
        <li><a href="#">Terms and Conditions</a></li>
      </ul>
    </div>
  </div><!--end of last-footer-->
</div>
