<nav class="navbar navbar-default">
   <div class="container-fluid">
     <div class="navbar-header">
       <a class="navbar-brand" href="#"><img src="assets/img/logo.png" alt="google think logo"></a>
     </div>
     <ul class="nav navbar-nav hidden-sm hidden-xs">
       <li class="dropdown first">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">United States <span class="caret"></span></a>
         <ul class="dropdown-menu">
           <li><a href="#">Deutsch - Deutschland</a></li>
           <li><a href="#">English - Asia Pacific</a></li>
           <li><a href="#">English - Central Eastern Europe</a></li>
           <li><a href="#">English - MENA</a></li>
           <li><a href="#">English - MENA</a></li>
           <li><a href="#">English - Nordics</a></li>
           <li><a href="#">English - United Kingdom</a></li>
           <li><a href="#">Espanol - Espana</a></li>
           <li><a href="#">Espanol - Latinoamerica</a></li>
           <li><a href="#">Francais - France</a></li>
           <li><a href="#">Italiono - Italia</a></li>
           <li><a href="#">Espanol - Espana</a></li>
           <li><a href="#">Espanol - Espana</a></li>
           <li><a href="#">Espanol - Espana</a></li>
           <li><a href="#">Espanol - Espana</a></li>
           <li><a href="#">Espanol - Espana</a></li>
         </ul>
       </li>
     </ul>
     <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
       <li><a href="#">Micro-Moments</a></li>
       <li><a href="#">Consumer Trends</a></li>
       <li><a href="#">Mobile</a></li>
       <li><a href="#">Video</a></li>
       <li class="dropdown second">
         <a href="#" class="dropdown-toggle main-target" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More Topics</a>
         <ul class="dropdown-menu target">
           <li><a href="#">Advertising</a></li>
           <li><a href="#">Consumer Goods</a></li>
           <li><a href="#">Measurement</a></li>
           <li><a href="#">Programmatic</a></li>
           <li><a href="#">Retail</a></li>
           <li><a href="#">Search</a></li>
           <li><a href="#">Sports Equipment</a></li>
           <li><a href="#">Travel</a></li>
         </ul>
       </li>
       <li><a href="#">Tools</a></li>
       <li class="search"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
     </ul>
     <!--PHONE NAV MENU-->
     <ul class="phone-nav hidden-md hidden-lg">
       <li class="search"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
       <li class="menu"><a href="#"><img src="assets/img/btn-compact-nav.svg"></a></li>
     </ul>
   </div><!--end of navbar container-fluid-->
 </nav>
<router-outlet></router-outlet>
<div class="row last-footer">
  <div class="last-footer-container">
    <img src="assets/img/white-logo.png" alt="white logo">
    <ul>
      <li><a href="#">About Google</a></li>
      <li><a href="#">Products</a></li>
      <li><a href="#">Advertising</a></li>
      <li><a href="#">Business</a></li>
      <li><a href="#">Privacy & Terms</a></li>
    </ul>
  </div>
</div><!--end of last-footer-->
